body {
 margin: 0;
 font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

code {
 font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

.main {
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
}

.card {
 background: #fff;
 width: 22%;
 margin: 50px 0;
 text-align: center;
 padding: 5px 0;
 box-shadow: -2px -1px 8px -2px rgba(0, 0, 0, 0.75);
}

.card > img {
 width: 100%;
 height: 280px;
 object-fit: contain;
}

.card > .heading {
 font-size: 1.6em;
 font-weight: 600;
 padding: 10px 30px;
 color: #561608;
 text-transform: capitalize;
}

.card > .para {
 font-size: 0.85em;
 font-weight: 100;
 color: #561608;
 padding: 10px 30px;
 text-transform: capitalize;
}

.card > .colorBox {
 width: 100%;
 height: 25px;
 margin: 25px 0;
 display: flex;
 justify-content: center;
 gap: 10px;
}

.card .colorBox span {
 width: 25px;
 height: 100%;
 border-radius: 50%;
 cursor: pointer;
 border: 2px solid #ccc;
}

.card .colorBox .red {
 background: #cc1212;
}

.card .colorBox .white {
 background: #561608;
}

.card .colorBox .black {
 background: black;
}

.card > .priceBtn {
 padding: 25px 20px;
 display: flex;
 justify-content: center;
 align-items: center;
 color: #561608;
}

.card .priceBtn > .price {
 font-size: 1.4em;
 font-weight: 500;
}

.card .priceBtn > button {
 font-size: 0.85em;
 border: none;
 outline: none;
 padding: 12px 30px;
 border-radius: 10px;
 border: 2px solid #561608;
 background: none;
 color: #561608;
 font-weight: 550;
 cursor: pointer;
 text-transform: uppercase;
}

.fa-check {
 color: green;
}

.card .colorBox .active {
 border: 2px solid #000;
}
